<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QuestionPro Automation">

    <!--<listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>-->

    <test name="Regression" thread-count="1">
        <classes>
            <class name="tests.LoginTest"></class>
            <class name="tests.TestRadioButton"></class>
            <class name="tests.TestCheckbox"></class>
            <class name="tests.TestDropDownsAndSelectList"></class>
            <class name="tests.TestDragNDropAndSlider"></class>
        </classes>
    </test>
</suite>